@media (max-width: 767px) {
    .header10 {
        align-items: flex-end !important;
    }
}
.cid-tSzeUs2J4G{
    background-position: center top !important; 
}
.cid-tSykELGNM2{
    background-position: center top !important; 
}
.cid-tSzDDXUcnH{
    background-position: center top !important; 
}
.client-row{
    align-items: center;
}